<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.dslmeinte.nl/xtext/simpleDb/SimpleDbDsl" 
       class = "nl.dslmeinte.xtext.simpleDb.simpleDbDsl.SimpleDbDslPackage"
       genModel = "nl/dslmeinte/xtext/simpleDb/SimpleDbDsl.genmodel" /> 
	
  </extension>




</plugin>
