<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.DSLConsultancy.com/simscript/ui/SimUiDsl" 
       class = "nl.dslmeinte.simscript.ui.simUiDsl.SimUiDslPackage"
       genModel = "nl/dslmeinte/simscript/ui/SimUiDsl.genmodel" /> 
	
  </extension>




</plugin>
