<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.dslconsultancy.com/simscript/structure/StructureDsl" 
       class = "nl.dslmeinte.simscript.structure.structureDsl.StructureDslPackage"
       genModel = "nl/dslmeinte/simscript/structure/SimStructureDsl.genmodel" /> 
	
  </extension>




</plugin>
