/.ApplicationGenerator.java._trace
/.CommunicationParseGenerator.java._trace
/.UserInterfaceGenerator.java._trace
/ApplicationGenerator.java
/CommunicationParseGenerator.java
/UserInterfaceGenerator.java
